<!DOCTYPE html>

<html>

<head id="head">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>
        Honda LCC - Report - Targeted OLA
    </title>
    <meta http-equiv="x-ua-compatible" content="IE=9">
    <link rel="shortcut icon" href="https://qatest.honda.epsilonrms.com/Hondafavicon.ico" type="image/x-icon">
    <link href="./styles/jquery-ui-1.8.20.custom.css" rel="STYLESHEET" type="text/css">
    <link href="./styles/jquery.ribbon.css" media="screen" rel="stylesheet" type="text/css">
    <link href="./styles/switch.css" media="screen" rel="stylesheet" type="text/css">
    <link href="./styles/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css">
    <link href="./styles/font-awesome.min.css" rel="STYLESHEET" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="styles/theme-honda.css" rel="stylesheet" type="text/css">
    <link href="styles/hondaLCC.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="styles/bootstrap-datepicker3.min.css">

    <!--Master Header END -->
    <script src="./js/jquery-3.1.1.min.js"></script>
    <script src="./js/jquery-ui.min.js"></script>
    <script src="./js/bootstrap.js"></script>
    <script src="https://cdn.jsdelivr.net/g/momentjs@2.18.1(moment.min.js+locales.min.js+moment-with-locales.min.js+locales.js+moment-with-locales.js)"></script>
    <script src="./js/dateRangeFilterImplementation.js"></script>
    <script src="./js/collapseExpand.js"></script>
    <script src="./js/bootstrap-datepicker.min.js"></script>
</head>

<body class="LTR Safari Chrome Safari59 Chrome59 ENUS ContentBody" cz-shortcut-listen="true">
    <div id="mainDivOuter">
        <!-- Content container -->
        <div id="spacer" style="width: 100%; height: 5px;">&nbsp;</div>
        <div class="mainDiv container" id="mainDivFullScreen">
            <!-- Top zone -->
            <div class="zoneTop" id="zoneTopFullScreen" style="float: none;">
                <div id="fullScreenDisplayNone">


                    <!-- AspenSelectDealerLine.ascx END -->
                    <a href="index.html"><img id="p_lt_zoneTop_EditableImage_imgImage" class="HondaAspenLogo" src="./images/Honda-Logo-Blue.png" alt="" style="border-width:0px;border:0px;">
                        </a>


                    <div class="horizontalmenu" style="width:100%;">
                        <div id="p_lt_zoneTop_dashboardPermissionMenu_menuElem_table">
                            <table class="_horizontalCMSMenu" cellspacing="0" cellpadding="0" id="p_lt_zoneTop_dashboardPermissionMenu_menuElem" border="0"
                                style="border-collapse: collapse; z-index: 1000; width: 100%;">
                                <tbody>
                                    <tr>
                                        <td class="_horizontalCMSMenuItem">Home</td>
                                        <td class="_horizontalCMSMenuItem">Reports</td>
                                        <td class="_horizontalCMSMenuItem">Program Library</td>
                                        <td class="_horizontalCMSMenuItem">Contact Us</td>
                                        <td class="_horizontalCMSMenuHighlightedMenuItem">Reports</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Content -->
            <div class="zoneMainContent" id="zoneMainContentFullScreen">
                <div id="mainDiv" style="height: 1590px; margin:0 10px;">

                    <!-- Filters Content -->
                    <div class="filters">
                        <ul class="nav navbar-nav">
                            <li>
                                <div class="checkbox checkbox-slider--b-flat">
                                    <label>
                                            <input type="checkbox" ng-model="showHeroBar" class="ng-valid ng-dirty ng-valid-parse ng-touched ng-not-empty" data-toggle="collapse" checked data-target="#programdashboard" onclick="javascript:toggleDashboardButtons()">
                                            <span>Show Program Dashboard</span>
                                        </label>
                                </div>
                            </li>
                            <!--
                                    <li> <a role="button" href="#"><i class="fa fa-external-link fa-lg"> </i></a></li>
                                    <li class="dropdown"> <a role="button" data-toggle="dropdown" class="dropdown-toggle" href="#"><i class="fa fa-filter fa-lg"></i></a></li>
                                    -->
                            <li class="dropdown export" id="exportlink">
                                <a uib-dropdown-toggle="" role="button" data-toggle="dropdown" id="exportOptions" class="dropdown-toggle" aria-haspopup="true"
                                    aria-expanded="false">
                                        <i class="fa fa-external-link fa-lg"> </i>
                                    </a>
                                <ul uib-dropdown-menu="" aria-labelledby="exportOptions" class="dropdown-menu">
                                    <li><strong>Export Options</strong>
                                    </li>
                                    <li class="divider" role="separator"></li>
                                    <li role="button">
                                        <a>
                                                <i class="fa fa-print"></i> Print
                                            </a>
                                    </li>
                                    <li role="button">
                                        <a>
                                                <i class="fa fa-envelope-o"></i> Email
                                            </a>
                                    </li>
                                    <li role="button">
                                        <a>
                                                <i class="fa fa-feed"></i> Subscribe
                                            </a>
                                    </li>
                                    <li role="button">
                                        <a>
                                                <i class="fa fa-rss-square"></i> Manage Subscriptions
                                            </a>
                                    </li>
                                    <li class="divider" role="separator"></li>
                                    <!-- ngIf: exportPermissions.pdf -->
                                    <li role="button" class="ng-scope">
                                        <a href="docs/Program%20Dashboard.pdf" target="_blank">
                                                <i class="fa fa-file-pdf-o"></i> PDF
                                            </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown" id="filterLink">

                                <a uib-dropdown-toggle="" data-toggle="dropdown" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-filter fa-lg"></i></a>

                                <ul class="dropdown-menu dropdownMinWidth" role="menu">
                                    <div style="margin:0 8px 11px 0;">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">×</span>
                                            </button>
                                    </div>
                                    <div class="search-form">
                                        <form name="searchForm" novalidate="" class="ng-valid ng-valid-date ng-dirty ng-submitted">
                                            <div class="form-group">
                                                <div class="full-block">
                                                    <div class="ng-scope">
                                                        <div class="ng-scope validation">
                                                            <label style="display: inline-block" class="ng-binding ng-scope">Date Range</label>

                                                            <select id="paramperiod0" class="form-control ng-untouched ng-valid ng-scope ng-not-empty select2-hidden-accessible ng-dirty" tabindex="-1"
                                                                aria-hidden="true">
                                                                    <option label="Custom" value="U" selected="selected">Custom</option>
                                                                    <option label="Last Month" value="LM">Last Month</option>
                                                                    <option label="Last Year" value="LY" selected="selected">Last Year</option>
                                                                    <option label="Last 30 Days" value="30">Last 30 Days</option>
                                                                    <option label="Last 60 Days" value="60">Last 60 Days</option>
                                                                    <option label="Last 90 Days" value="90">Last 90 Days</option>
                                                                    <option label="Last 120 Days" value="120">Last 120 Days</option>
                                                                    <option label="Last 180 Days" value="180">Last 180 Days</option>
                                                                    <option label="Last 12 Months" value="L12">Last 12 Months</option>
                                                                    <option label="Week to Date" value="WTD">Week to Date</option>
                                                                    <option label="Month to Date" value="MTD">Month to Date</option>
                                                                    <option label="Year to Date" value="YTD">Year to Date</option>
                                                                </select>
                                                            <span
                                                                class="select2 select2-container select2-container--default select2-container--below"
                                                                dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-paramperiod-jt-container">
                                                                <span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span>
                                                                </span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="half-block">
                                                    <div class="ng-scope">
                                                        <div class="ng-scope validation">
                                                            <label title="" tooltip="d" class="ng-pristine ng-untouched ng-valid ng-scope ng-isolate-scope ng-not-empty">Start Date</label>
                                                            <input class="form-control ng-pristine ng-untouched ng-valid ng-scope ng-isolate-scope ng-not-empty ng-valid-date" id="paramstart_date0"
                                                                type="text" disabled="disabled">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="half-block">
                                                    <div class="ng-scope">
                                                        <div class="ng-scope validation">
                                                            <label title="" data-toggle="tooltip" ng-model="d.label" data-placement="auto" tooltip="d" class="ng-pristine ng-untouched ng-valid ng-scope ng-isolate-scope ng-not-empty">End Date</label>
                                                            <input class="form-control ng-pristine ng-untouched ng-valid ng-scope ng-isolate-scope ng-not-empty ng-valid-date" id="paramend_date0"
                                                                type="text" disabled="disabled">
                                                            <div uib-datepicker-popup-wrap="" ng-model="date" ng-change="dateSelection(date)" template-url="uib/template/datepickerPopup/popup.html"
                                                                class="ng-pristine ng-untouched ng-valid ng-scope ng-not-empty">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="center-block text-center">
                                                <button class="btn btn-primary" ng-click="fetchDefaultData()">Default</button>
                                                <button type="submit" id="apply0" class="btn btn-primary" ng-disabled="searchForm.$invalid &amp;&amp; !searchForm.$error.dateDisabled"
                                                    ng-click="search()">Apply</button>
                                            </div>
                                        </form>
                                    </div>
                                </ul>

                            </li>
                            <li role="button" ng-hide="hideNotes" class="" id="notesLink">
                                <a data-toggle="modal" data-target="#notes">
                                        <i class="fa fa-info-circle fa-lg"></i>
                                    </a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <!-- Filters Content Ends -->
                    <div class="clearfix"></div>

                    <!-- Dashboard Content -->
                    <div class="dashboard collapse in" aria-expanded="true" aria-hidden="false" id="programdashboard">
                        <div class="col-sm-3 bdr-r">
                            <div class="ng-isolate-scope">
                                <div class="square">
                                    <div class="pull-left">
                                        <span class="heroBarBigSquareHeader"><strong>UIO By Segment</strong></span>
                                        <div class="square-large square-red">
                                            <h3 class="ng-binding">0.00% Active</h3>
                                        </div>
                                    </div>
                                    <div class="pull-right">
                                        <div class="square-small form-group square-red">
                                            <h6 class="ng-binding">0.00% New To Active</h6>
                                        </div>
                                        <div class="square-small form-group square-red">
                                            <h6 class="ng-binding">0.00% New To Active</h6>
                                        </div>
                                        <div class="square-small square-red">
                                            <h6 class="ng-binding">0.00% Inactive To Active</h6>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="square-value">
                                    <div class="pull-left text-center">
                                        <i class="fa fa-long-arrow-up fa-3x"></i>
                                        <p><strong class="ng-binding">0.00</strong>
                                        </p>
                                    </div>
                                    <div class="pull-left square-label">
                                        <p class="text-center ng-binding"><span id="dateRangeTextTop"></span>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>

                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="col-sm-9 pr-0 program-overview-section">
                            <h3 class="text-center ng-binding">Program Dashboard</h3>
                            <p class="fs16 ng-binding ng-scope">Program Objective: The movement of database customers into the Active segment from the New, Lapsed,
                                and Inactive segments is the overall objective of the Honda LCC reporting environment.</p>
                            <br>
                            <br>
                            <center buttons="heroBar.buttons" class="ng-isolate-scope">
                                <a ng-repeat="x in buttons" target="_blank" class="btn btn-primary ng-binding ng-scope" role="button" href="docs/Honda-LCC-Reporting-Guide.pdf">Report Manual</a>
                            </center>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <!-- Dashboard Content Ends -->

                    <!-- Main Content Starts -->
                    <div class="col-sm-12 main">
                        <div class="side-nav-handle-init">
                            <div class="side-nav-handle-container" onclick="toggleSideNav()">
                                <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span></div>
                        </div>
                        <div class="side-nav-container" class="row">
                            <div class="side-nav">
                                <div>
                                    <ul>
                                        <li><a href="index.html">Welcome Phase</a></li>
                                        <li><a href="HondaLCC_Engage_Phase.html">Engage Phase</a></li>
                                        <li><a href="HondaLCC_Winback_Phase.html">Winback Phase</a></li>
                                        <li><a href="HondaLCC_OnDemand.html">OnDemand</a></li>
                                        <li><a href="HondaLCC_Communication_Summary.html">Communication Summary</a></li>
                                        <li><a href="HondaLCC_Trend_Analysis.html">Trend Analysis</a></li>
                                        <li><a data-toggle="modal" data-target="#managesubscriptions">Manage Subscriptions</a></li>
                                        <li><a href="#">Channel Reports <span class="glyphicon glyphicon-triangle-bottom"></span> </a>
                                            <ul class="sub-menu">
                                                <li><a href="#">Billing Summary</a></li>
                                                <li><a href="HondaLCC_Customer_Opt_Out.html">Customer Opt-outs</a></li>
                                                <li><a href="HondaLCC_Email_Summary.html">Email Summary</a></li>
                                                <li><a href="HondaLCC_Targeted_OLA.html">Targeted OLA</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <div class="side-nav-handle">
                                    <div class="side-nav-handle-container" onclick="toggleSideNav()">
                                        <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span></div>
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-12 side-fit edw-container">
                            <div class="page-header">
                                <!-- Graph contnet stars -->
                                <div class="graph-content col-sm-3">
                                    <div>
                                        <h3 class="header ng-binding">Targeted OLA</h3>
                                    </div>
                                </div>
                                <!-- Graph content ends -->

                                <!-- Filter content starts-->
                                <div class="col-sm-9">
                                    <div class="filters row">
                                        <ul class="nav navbar-nav">
                                            <li class="dropdown export ng-isolate-scope">
                                                <a role="button" data-toggle="dropdown" id="contentexportOptions" class="dropdown-toggle" aria-haspopup="true" aria-expanded="true">
                                                        <i class="fa fa-external-link fa-lg"> </i>
                                                    </a>
                                                <ul aria-labelledby="contentexportOptions" class="dropdown-menu">
                                                    <li><strong>Export Options</strong>
                                                    </li>
                                                    <li class="divider" role="separator"></li>
                                                    <li role="button">
                                                        <a>
                                                                <i class="fa fa-print"></i> Print
                                                            </a>
                                                    </li>
                                                    <li role="button">
                                                        <a>
                                                                <i class="fa fa-envelope-o"></i> Email
                                                            </a>
                                                    </li>
                                                    <li role="button">
                                                        <a>
                                                                <i class="fa fa-feed"></i> Subscribe
                                                            </a>
                                                    </li>
                                                    <li role="button">
                                                        <a>
                                                                <i class="fa fa-rss-square"></i> Manage Subscriptions
                                                            </a>
                                                    </li>
                                                    <li class="divider" role="separator"></li>
                                                    <li role="button" class="ng-scope">
                                                        <a href="docs/Welcome%20Phase.pdf" target="_blank">
                                                                <i class="fa fa-file-pdf-o"></i> PDF
                                                            </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="dropdown ng-isolate-scope">

                                                <a uib-dropdown-toggle="" data-toggle="dropdown" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">
                                                        <i class="fa fa-filter fa-lg"></i>
                                                    </a>
                                                <ul class="dropdown-menu dropdownMinWidth" role="menu">
                                                    <div style="margin:0 8px 11px 0;">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="searchFilterDropdown.opened = false">
                                                                <span aria-hidden="true">×</span>
                                                            </button>
                                                    </div>
                                                    <div class="search-form">
                                                        <form name="searchForm" novalidate="" class="ng-pristine ng-valid ng-valid-date">
                                                            <div class="form-group">
                                                                <div ng-repeat="d in reportParameters" class="full-block" ng-class="(d.isHidden) ? 'hiddenparams' : ''">

                                                                    <div class="ng-scope">

                                                                        <div ng-class="(d.isValid!=true)?'validation':''" ng-include="'erapp/views/partials/control/components/option/optionBootstrapDashboard.html'"
                                                                            class="ng-scope">

                                                                            <label style="display: inline-block" class="ng-binding ng-scope">Date Range</label>

                                                                            <select class="form-control ng-pristine ng-untouched ng-valid ng-scope ng-not-empty select2-hidden-accessible" name="paramperiod"
                                                                                tabindex="-1" aria-hidden="true">
                                                                                    <option value="U">Custom</option>
                                                                                    <option value="T">Today</option>
                                                                                    <option value="Y">Yesterday</option>
                                                                                    <option value="LW">Last Week</option>
                                                                                    <option value="LM">Last Month</option>
                                                                                    <option value="LY">Last Year</option>
                                                                                    <option value="30" selected>Last 30 Days</option>
                                                                                    <option value="60">Last 60 Days</option>
                                                                                    <option value="90">Last 90 Days</option>
                                                                                    <option value="120">Last 120 Days</option>
                                                                                    <option value="180">Last 180 Days</option>
                                                                                    <option value="L12">Last 12 Months</option>
                                                                                    <option value="WTD">Week to Date</option>
                                                                                    <option value="MTD">Month to Date</option>
                                                                                    <option value="YTD">Year to Date</option>
                                                                                </select>
                                                                        </div>
                                                                    </div>

                                                                </div>

                                                                <div ng-repeat="d in reportParameters" class="half-block" ng-class="(d.isHidden) ? 'hiddenparams' : ''">

                                                                    <div class="ng-scope">

                                                                        <div ng-class="(d.isValid!=true)?'validation':''" class="ng-scope">
                                                                            <label title="" data-toggle="tooltip" ng-model="d.label" data-placement="auto" tooltip="d" class="ng-pristine ng-untouched ng-valid ng-scope ng-isolate-scope ng-not-empty">Start Date</label>
                                                                            <input class="form-control ng-pristine ng-untouched ng-valid ng-scope ng-isolate-scope ng-not-empty ng-valid-date" regional-locale=""
                                                                                ng-disabled="d.isDisabled" ng-change="onOptionChange(d,$parent)"
                                                                                id="paramstart_date1" type="text" ng-model="d.value"
                                                                                uib-datepicker-popup="MM/dd/yyyy" datepicker-options="d.dateOptions"
                                                                                is-open="d.popUpOpened" ng-click="openDatePopUp(d,$parent)"
                                                                                show-button-bar="true" disabled="disabled">
                                                                            
                                                                        </div>
                                                                    </div>

                                                                </div>

                                                                <div ng-repeat="d in reportParameters" class="half-block" ng-class="(d.isHidden) ? 'hiddenparams' : ''">

                                                                    <div class="ng-scope">

                                                                        <div ng-class="(d.isValid!=true)?'validation':''"  class="ng-scope">
                                                                            <label title="" data-toggle="tooltip" ng-model="d.label" data-placement="auto" tooltip="d" class="ng-pristine ng-untouched ng-valid ng-scope ng-isolate-scope ng-not-empty">End Date</label>
                                                                            <input class="form-control ng-pristine ng-untouched ng-valid ng-scope ng-isolate-scope ng-not-empty ng-valid-date" regional-locale=""
                                                                                ng-disabled="d.isDisabled" ng-change="onOptionChange(d,$parent)"
                                                                                id="paramend_date1" type="text" ng-model="d.value"
                                                                                uib-datepicker-popup="MM/dd/yyyy" datepicker-options="d.dateOptions"
                                                                                is-open="d.popUpOpened" ng-click="openDatePopUp(d,$parent)"
                                                                                show-button-bar="true" disabled="disabled">
                                                                            
                                                                        </div>
                                                                    </div>

                                                                </div>

                                                                <div ng-repeat="d in reportParameters" class="half-block" ng-class="(d.isHidden) ? 'hiddenparams' : ''">


                                                                    <div class="ng-scope">
                                                                        <div ng-class="(d.isValid!=true)?'validation':''" ng-include="'erapp/views/partials/control/components/option/optionBootstrapDashboard.html'"
                                                                            class="ng-scope">

                                                                            <label style="display: inline-block" class="ng-binding ng-scope">Customer Segment</label>

                                                                            <select select2="" class="form-control ng-pristine ng-untouched ng-valid ng-scope ng-not-empty select2-hidden-accessible"
                                                                                ng-options="i as i.label for i in d.value track by i.value"
                                                                                ng-change="onOptionChange(d)" ng-model="d.selected"
                                                                                name="paramcustomer_segment" ng-disabled="d.isDisabled"
                                                                                tabindex="-1" aria-hidden="true">
                                                                                    <option label="All" value="All" selected="selected">All</option>
                                                                                    <option value="New">New </option>
                                                                                    <option value="Active">Active</option>
                                                                                    <option value="Inactive">Inactive</option>
                                                                                    <option value="Lapsed">Lapsed</option>
                                                                                </select>
                                                                        </div>
                                                                    </div>

                                                                </div>

                                                            </div>
                                                            <div class="center-block text-center">
                                                                <button class="btn btn-primary" ng-click="fetchDefaultData()">Default</button>
                                                                <button type="submit" id="apply1" class="btn btn-primary" ng-disabled="searchForm.$invalid &amp;&amp; !searchForm.$error.dateDisabled"
                                                                    ng-click="search()">Apply</button>
                                                            </div>

                                                        </form>
                                                    </div>
                                                </ul>
                                            </li>
                                            <li role="button" ng-click="openInfoModal('edw')" ng-hide="hideNotes" class="">
                                                <a data-toggle="modal" data-target="#contentnotes">
                                                        <i class="fa fa-info-circle fa-lg"></i>
                                                    </a>
                                            </li>
                                            <!--<li>
                                                    <a role="button" ng-click="openTableView()" class="btn btn-sm btn-primary">Table</a>
                                                </li>-->
                                        </ul>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <!-- Filter content ends -->
                            </div><!-- Page-header class ends -->

                            <div class="col-sm-12">
                                <div class="form-group sidebar ">
                                    <p class="ng-binding"><strong>Report Generated: </strong>07/21/2017</p>
                                    <p class="ng-binding">
                                        <strong>Date Range: </strong><span id="dateRangeText"></span> <strong>Start Date: </strong><span id="startDate"></span>
                                        <strong>End Date: </strong><span id="endDate"></span>
                                    </p>
                                    <p class="ng-binding"> <strong>Communication Type: </strong>All </p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <!-- Targeted OLA Table -->
                            <div class="table-responsive col-sm-12">
                                <table class="table table-bordered table-striped">
                                    <tbody>
                                        <tr>
                                            <th>
                                                Days of the Month
                                            </th>
                                            <th class="text-align-right ng-binding ng-scope">1-7</th>
                                            <th class="text-align-right ng-binding ng-scope">8-14</th>
                                            <th class="text-align-right ng-binding ng-scope">15-21</th>
                                            <th class="text-align-right ng-binding ng-scope">22-EOM</th>
                                            <th class="text-align-right ng-binding ng-scope">Total</th>
                                        </tr>
                                        <tr>
                                            <td>Impressions</td>
                                            <td class="text-align-right ng-binding ng-scope" >0</td>
                                            <td class="text-align-right ng-binding ng-scope" >0</td>
                                            <td class="text-align-right ng-binding ng-scope" >0</td>
                                            <td class="text-align-right ng-binding ng-scope" >0</td>
                                            <td class="text-align-right ng-binding ng-scope" >0</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="targetedOLA-graph">
                                <img src="images/Target_OLA_Graph.png" alt="Targeted OLA Graph">
                            </div>

                        </div>
                    </div>
                    <!-- Main Contents Ends -->
                </div>
                <!-- Footer zone BEGIN -->
                <div class="zoneFooter" id="zoneFooterFullScreen" style="width: 100%">
                    <script type="text/javascript">
                        window.intercomSettings = {
                            app_id: 'kqgkjgd2',
                            user_hash: 'd6ce53d185813a469b3b88c92062774369a06060915487655abb878f2f015402',
                            name: 'Harsha Reddy', // Full 
                            user_id: 'hreddy',
                            email: 'hreddy@epsilon.com', // Email address
                            created_at: 1482935486, // Signup date as a Unix timestamp
                            company: {
                                id: '6e96212e-815c-4f7a-b675-6748b2685963',
                                name: 'American Honda Motors',
                                oem: 'Honda'
                            },
                            "roles": 'ProductAdmin'
                        };
                    </script>
                    <script type="text/javascript">
                        (function () {
                            var w = window;
                            var ic = w.Intercom;
                            if (typeof ic === "function") {
                                ic('reattach_activator');
                                ic('update', intercomSettings);
                            } else {
                                var d = document;
                                var i = function () {
                                    i.c(arguments)
                                };
                                i.q = [];
                                i.c = function (args) {
                                    i.q.push(args)
                                };
                                w.Intercom = i;

                                function l() {
                                    var s = d.createElement('script');
                                    s.type = 'text/javascript';
                                    s.async = true;
                                    s.src = 'https://widget.intercom.io/widget/kqgkjgd2';
                                    var x = d.getElementsByTagName('script')[0];
                                    x.parentNode.insertBefore(s, x);
                                }
                                if (w.attachEvent) {
                                    w.attachEvent('onload', l);
                                } else {
                                    w.addEventListener('load', l, false);
                                }
                            }
                        })()
                    </script>
                </div>
                <!-- Footer zone END -->
            </div>
            <!-- Content END -->

        </div>
        <!-- Content container END -->
    </div>
    <!--mainDivOuter END-->

    <!-- Top Modal pop up starts -->
    <div class="modal fade ng-scope ng-isolate-scope in" role="dialog" size="lg" index="0" animate="animate" id="notes">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" uib-modal-transclude="" style="position: relative;">
                <div class="modal-header ng-scope" modal-movable="">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="close()">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title ng-binding" id="myModalLabel" ng-bind="::title">Notes</h4>
                </div>
                <div class="modal-body ng-scope" id="modal-body">
                    <div class="max-height">
                        <div class="table-responsive notes ng-binding" ng-bind-html="bodyContent">
                            <table class="table table-condensed">
                                <tbody>
                                    <tr>
                                        <td>Active % Metric:</td>
                                        <td>Displays the % of a dealer's VINs that are in the Active segment as of the last day
                                            of the filtered time period and the change from the previous period.</td>
                                    </tr>
                                    <tr>
                                        <td>New to Active Metric:</td>
                                        <td>Displays the % of a dealer's VINs that moved from the New segment to the Active segment
                                            during the filtered time period.</td>
                                    </tr>
                                    <tr>
                                        <td>Lapsed to Active Metric:</td>
                                        <td>Displays the % of a dealer's VINs that moved from the Lasped segment to the Active
                                            segment during the filtered time period.</td>
                                    </tr>
                                    <tr>
                                        <td>Inactive to Active Metric:</td>
                                        <td>Displays the % of a dealer's VINs that moved from the Inactive segment to the Active
                                            segment during the filtered time period.</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Top Modal pop up ends -->

    <!-- Manage Subscriptions Pop up Starts -->
    <div class="modal fade ng-scope ng-isolate-scope in" role="dialog" size="lg" index="0" animate="animate" id="managesubscriptions">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                    <h4 class="modal-title ng-binding">Subscribe</h4>
                </div>
                <div class="modal-body ng-scope" id="modal-body">
                    <div class="max-height">
                        <div class="table-responsive notes">
                            <div>
                                <h5>No subscriptions are present.</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Manage Subscriptions Pop Up Ends -->


    <!-- Content Modal pop up starts -->
    <div class="modal fade ng-scope ng-isolate-scope in" role="dialog" size="lg" index="0" animate="animate" id="contentnotes">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" uib-modal-transclude="" style="position: relative;">
                <div class="modal-header ng-scope" modal-movable="">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="close()">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title ng-binding" id="myModalLabel" ng-bind="::title">Notes</h4>
                </div>
                <div class="modal-body ng-scope" id="modal-body">
                    <div class="max-height">
                        <div class="table-responsive notes ng-binding" ng-bind-html="bodyContent">
                            <table class="table table-condensed">
                                <tbody>
                                    <tr>
                                        <td>Campaign Name:</td>
                                        <td>Identifies the campaign by name and associates the communications and responses.
                                            The campaign names are loaded as available filters and displayed within the report
                                            as the campaigns are sent.</td>
                                    </tr>
                                    <tr>
                                        <td>Communication Summary:</td>
                                        <td>
                                            Lists the counts of the customers contacted by Surface Mail, Email, and Live Calls. The Total Sent column provides a total
                                            count of communications and the Customers Contacted column provides a count of
                                            unique customers that received the communication(s) for the given campaign. For
                                            example, if a customer receives a Surface Mail and Email for the May Service
                                            Event, then the Total Customers Count would be one (1).
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Response Count:</td>
                                        <td>
                                            The number of repair orders generated in response to a communication sent, when the repair order is within the designated
                                            response window. The repair order(s) must be generated at the dealership that
                                            sent the campaign or communication.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Response Rate:</td>
                                        <td>Response Count divided by Customers Contacted.</td>
                                    </tr>
                                    <tr>
                                        <td>CP Revenue</td>
                                        <td>Sum of all Customer Pay dollars for the qualifying Response Repair Orders.</td>
                                    </tr>
                                    <tr>
                                        <td>WP Revenue:</td>
                                        <td>
                                            Sum of all Warranty Pay dollars for the qualifying Response Repair Orders.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Total RO Revenue:</td>
                                        <td>Customer Pay + Warranty dollars from qualifying Response Repair Orders.</td>
                                    </tr>
                                    <tr>
                                        <td>Avg RO Revenue:</td>
                                        <td>Total RO Revenue divided by Response Count.</td>
                                    </tr>
                                    <tr>
                                        <td>ROI:</td>
                                        <td>Total RO Revenue minus Channel Fulfillment Cost divided by Channel Fulfillment Cost.</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<div id="aspenOverlay" class=""></div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#aspercentage, #ascount").change(function () {
            $("#percentagegraph, #countgraph").toggle();
        });

        $("#aspercentage2, #ascount2").change(function () {
            $("#percentagegraph2, #countgraph2").toggle();
        });
    });
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
        /*SideNav specific code*/
        // hide the side-nav initially when the page loadds
        $('.side-nav').hide();
    });

    function toggleSideNav(params) {
        /*Hide/Unhide the handle init and the sidenav*/
        $('.side-nav-handle-init').toggle();
        $('.side-nav').slideToggle();
    }    
</script>

</html>